<div class= "jumbotron center">
	<h1>Welcome to Thewazo Social</h1>
	<h2>There's nothing more powerful than an idea whose time has come</h2>
	
	<p>
		<%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>

		<%= link_to "Register", new_user_registration_path, class: 'btn btn-primary' %>
	</p>
	<p> Visit <%= link_to "Thewazo Magazine", "http://thewazo.com" %>
	</p>
</div>