<div class= "jumbotron">
	<h1>Welcome to Thewazo</h1>
	<h2>There's nothing more powerful than an idea whose time has come</h2>
	<p><%= link_to "Sign Up", "#", class: 'btn btn-info' %></p>
	<p>Visit <%= link_to "Thewazo Magazine", "http://thewazo.com" %></p>
</div>