<h1>Welcome to Thewazo</h1>
<h2>There's nothing more powerful than an idea whose time has come</h2>
<p>Sign up <%= link_to "here", "#" %></p>
<p>Visit <%= link_to "Thewazo Magazine", "http://thewazo.com" %></p>