<div class="well">
	<h1>Shop Til You Drop</h1>
		<h2>Great Deals Daily</h2>
	<button type="button" class="btn btn-default btn-lg"> 
		<span class="glyphicon glyphicon-tags"></span>
	</button>	
</div>	